<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <add key="input-directory" value="C:\Users\admin\Documents\EnergyApp\EnergyApp\DataFiles\GenerationReport.xml"/>
    <add key="output-directory" value="C:\Users\admin\Documents\EnergyApp\EnergyApp\DataFiles\GenerationOutput.xml"/>

    <add key="reference-directory" value="C:\Users\admin\Documents\EnergyApp\EnergyApp\DataFiles\ReferenceData.xml"/>
    
    <add key="test-input-directory" value="C:\Users\admin\Documents\EnergyApp\EnergyApp\DataFiles\Test\GenerationReport.xml"/>
    <add key="test-output-directory" value="C:\Users\admin\Documents\EnergyApp\EnergyApp\DataFiles\Test\GenerationOutput.xml"/>
  
  </appSettings>
  
</configuration>